* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: .1s all ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html{
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #F4F5F9;
}
a{
  text-decoration: none;
  display: inline-block;
}

h1,
h2 {
  text-align: center;
}


/* header start  here  */

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 2rem  0;
  background: linear-gradient(to right ,#66D1FE,#9B30F6);
  color: #fff;
  font-size: 2rem;
}
header  input{
  width: 25rem;
  height: 3rem;
  margin: 1rem 0 ;
  border-radius: .5rem;
  outline: none;
  border: none;
  padding: 1.5rem 2rem;
}
/* header ends here  */
/* main  starts here  */

section{
  width: 100%;
  padding: 0 9%;
}
.GOT-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.all-houses-btn{
  margin: 2rem 0 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex: 0 1 100%;
}
.all-houses-btn button{
  padding: .8rem 2.4rem ;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  margin: 0 1rem;border-radius: .6rem;
}
.card-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

}
.card {
  margin: 2rem 0 0 0 ;
  padding: 2rem ;
  border-radius: .6rem;
  background: #B4D8F1;
  box-shadow:  3px 3px 9px rgba(0,0,0,0.3px),-2px -2px 6px rgba(0,0,0,0.3rem);
  flex: 0 1 30%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.card  img{
  border-radius: 50%;
  border: .2rem solid #3E7A72;
}
.card h4{
  margin: 1rem 0;
  font-size: 2rem;
  
}
.card .btn{
  padding: .8rem 1.6rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: .6rem;
}
.card .character-description{
  margin:  0 0 2rem 0;
  font-size: 1.2rem;
}
.card .btn:hover{
  background: #333;
  color: #fff;
  
}
/* main ends here  */

/* Responsive starts here  */
@media only screen and (max-width: 768px) {
  html{
    font-size: 55%;
  }
  section{
    padding: 0 2rem ;
  }
  .card{
    flex: 0 1 48%;
    
  }
  .all-houses-btn button{
    margin: 1.2rem ;
  }
}
@media only screen and (max-width: 480px) {
  html{
    font-size: 50%;
  }
  .card{
    flex: 0 1 100%;
    margin: 2.5rem 0 0 0 ;
  }
  .all-houses-btn button{
    margin: 1.2rem ;
  }
}